---
import BaseLayout from "../layouts/baseLayout.astro";
import "../styles/global.css";

---

<BaseLayout title="المنشورات — حمزة نادي" description="تابع آخر منشورات حمزة نادي">
<section class="section latest-posts">
  <div class="container">
    <h2 style="padding-bottom: 35px;">أحدث المنشورات من لينكدإن</h2>

    <!-- Elfsight LinkedIn Feed -->
    <script src="https://elfsightcdn.com/platform.js" async></script>
    <div class="elfsight-app-df58ccb3-5ea3-4316-aa3c-da743d06e3e8" style="min-height: 1000px;" data-elfsight-app-lazy></div>
  </div>
</section>

</BaseLayout>
